{% extends 'main.html' %}
{% block content %}
{% load static %}
    <main class="update-account layout">
      {% csrf_token %}
      <div class="container">
        <div class="layout__box">
          <div class="layout__boxHeader">
            <div class="layout__boxTitle">
              <audio id="myAudio_{{bacaan.judul_bacaan}}">
                <source src="{% static 'audio/' %}{{bacaan.audio_url}}" type="audio/wav">
              </audio>
              <a href="{% url 'home' %}" style="text-align: left;">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                      viewBox="0 0 32 32">
                      <title>arrow-left</title>
                      <path
                          d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                      </path>
                  </svg>
              </a>
              <h3>Nilai Bacaan Anda</h3>
            </div>
          </div>
          <div class="layout__body">
            
            <center><img src="{% static 'images/' %}{{bacaan.image_url}}" style="{{style}}"  alt=""></center>

            <center><p class="btn btn--main" onclick="playAudio()">Dengar <i id="i_{{bacaan.judul_bacaan}}" class="fa fa-play-circle"></i></p></center> 
            <br>
            <center><button class="btn" id="recordButton" style="background-color: green;">Rekam <i id="i_{{bacaan.judul_bacaan}}" class="fa fa-play-circle"></i></button> &nbsp <button id="pauseButton" style="cursor: not-allowed; background-color: grey;" class="btn btn--default" disabled>Pause <i id="i_{{bacaan.judul_bacaan}}" class="fa fa-pause-circle"></i></button> &nbsp <button id="stopButton" style="cursor: not-allowed; background-color: grey;" class="btn btn--default" disabled>Stop <i id="i_{{bacaan.judul_bacaan}}" class="fa fa-stop-circle"></i></button></center>
            <!-- <br> -->
            <!-- <center><p class="btn btn--primary" onclick="dengar_rekaman()">Dengar Rekaman <i id="i_{{bacaan.judul_bacaan}}" class="fa fa-play-circle"></i></p></center> -->
            <br>
            <div id="formats" style="display: none;">Format: start recording to see sample rate</div>
            <center><div id="recordingsList"></div></center>
            <center><p id="penilaian"></p></center>
            <div id="image_sound" style="display: none;">
              <h5>Bacaan Ustazah</h5>
              <img id="img_bacaan_ustazah" >
              <br><br>
              <h5>Bacaan Anda</h5>
              <img id="img_bacaan_anda">
            </div>
            <div id="error_teks" style="display: none;"><h2>Tidak Dapat Menilai Bacaan Anda. Sila Coba Refresh Halaman</h2></div>
            <!-- <div id="disini"></div> -->
          </div>
        </div>
      </div>
    </main>
    <script src="{% static 'js/recorder.js' %}"></script>
    <script src="{% static 'js/block/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/block/jquery.blockUI.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
      function playAudio() {
          let audio = document.getElementById("myAudio_{{bacaan.judul_bacaan}}");
          document.getElementById("i_{{bacaan.judul_bacaan}}").setAttribute("class", "fa fa-pause-circle");
          audio.play();
          

        //sleep 3 second
         setTimeout(function(){
          document.getElementById("i_{{bacaan.judul_bacaan}}").setAttribute("class", "fa fa-play-circle");
         }, 5000);
        // if audio is playing in other audio tag, stop it else play it
        

        

        

      }
    </script>
    <script>
      let get_url = window.location.host
      let get_http = window.location.protocol
      // console.log(get_http)
      // console.log(get_url)

      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      console.log(csrftoken);
      URL = window.URL || window.webkitURL;

      var gumStream; 						//stream from getUserMedia()
      var rec; 							//Recorder.js object
      var input;  //MediaStreamAudioSourceNode we'll be recording

      // shim for AudioContext when it's not avb. 
      var AudioContext = window.AudioContext || window.webkitAudioContext;
      var audioContext //audio context to help us record

      var recordButton = document.getElementById("recordButton");
      var stopButton = document.getElementById("stopButton");
      var pauseButton = document.getElementById("pauseButton");

      //add events to those 2 buttons
      recordButton.addEventListener("click", startRecording);
      stopButton.addEventListener("click", stopRecording);
      pauseButton.addEventListener("click", pauseRecording);

      function startRecording() {
        recordingsList.innerHTML = '';
        console.log("recordButton clicked");

        setAttributes(recordButton, {
          "style": "background-color: grey; cursor: not-allowed;",
          
        });

        setAttributes(stopButton, {
          "style": "background-color: red;cursor: pointer;",         
        });

        setAttributes(pauseButton, {
          "style": "background-color: yellow;cursor: pointer;color: black;",         
        });
      
        /*
          Simple constraints object, for more advanced audio features see
          https://addpipe.com/blog/audio-constraints-getusermedia/
        */
          
          var constraints = { audio: true, video:false }
      
         /*
            Disable the record button until we get a success or fail from getUserMedia() 
        */
      
        recordButton.disabled = true;
        stopButton.disabled = false;
        pauseButton.disabled = false
      
        /*
            We're using the standard promise based getUserMedia() 
            https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia
        */
      
        navigator.mediaDevices.getUserMedia(constraints).then(function(stream) {
          console.log("getUserMedia() success, stream created, initializing Recorder.js ...");
      
          /*
            create an audio context after getUserMedia is called
            sampleRate might change after getUserMedia is called, like it does on macOS when recording through AirPods
            the sampleRate defaults to the one set in your OS for your playback device
          */
          audioContext = new AudioContext();
      
          //update the format 
          document.getElementById("formats").innerHTML="Format: 1 channel pcm @ "+audioContext.sampleRate/1000+"kHz"
      
          /*  assign to gumStream for later use  */
          gumStream = stream;
          
          /* use the stream */
          input = audioContext.createMediaStreamSource(stream);
      
          /* 
            Create the Recorder object and configure to record mono sound (1 channel)
            Recording 2 channels  will double the file size
          */
          rec = new Recorder(input,{numChannels:1})
      
          //start the recording process
          rec.record()
      
          console.log("Recording started");
      
        }).catch(function(err) {
            //enable the record button if getUserMedia() fails
            recordButton.disabled = false;
            stopButton.disabled = true;
            pauseButton.disabled = true
        });
      }
      
      function pauseRecording(){
        console.log("pauseButton clicked rec.recording=",rec.recording );
        if (rec.recording){
          //pause
          rec.stop();
          pauseButton.innerHTML="Resume";
        }else{
          //resume
          rec.record()
          pauseButton.innerHTML="Pause";
      
        }
      }
      
      function stopRecording() {
        console.log("stopButton clicked");
        
        setAttributes(recordButton, {
          "style": "background-color: green; cursor: pointer;",
          
        });

        setAttributes(stopButton, {
          "style": "background-color: grey;cursor: not-allowed;",         
        });

        setAttributes(pauseButton, {
          "style": "background-color: grey;cursor: not-allowed;",         
        });
        //disable the stop button, enable the record too allow for new recordings
        stopButton.disabled = true;
        recordButton.disabled = false;
        pauseButton.disabled = true;
      
        //reset button just in case the recording is stopped while paused
        pauseButton.innerHTML="Pause";
        
        //tell the recorder to stop the recording
        rec.stop();
      
        //stop microphone access
        gumStream.getAudioTracks()[0].stop();
      
        //create the wav blob and pass it on to createDownloadLink
        rec.exportWAV(createDownloadLink);
      }
      
      async function createDownloadLink(blob) {
        
        var url = URL.createObjectURL(blob);
        var au = document.createElement('audio');
        var li = document.createElement('li');
        var link = document.createElement('a');
      
        //name of .wav file to use during upload and download (without extendion)
        var filename = new Date().toISOString();
      
        //add controls to the <audio> element
        au.controls = true;
        au.src = url;
        au.id = 'rekamannya'

        /* let disini = document.getElementById('disini')
        disini.append(au) */

        
        //save to disk link
        link.href = url;
        link.download = filename+".wav"; //download forces the browser to donwload the file using the  filename
        link.innerHTML = "Save to disk";


        sedang_proses()
        try{
          let data = new FormData()
          data.append('sound', blob, filename+".wav")
          data.append('url_bacaan', "{{bacaan.audio_url}}")
          //create fetch with headers
          let response = await fetch('/api/', {
            method: 'POST',
            body: data,
            headers: {
              'X-CSRFToken': csrftoken,
            }
          })
          let json = await response.json()
          console.log(json)
          // if response code is 200, then the request is successful
          if(response.status == 200){

            
            // div id="image_sound" remove attr style
            let image_sound = document.getElementById('image_sound')
            image_sound.removeAttribute('style')
            // img id="img_bacaan_ustazah" src= json.path +'spec1'+json.hour_min_sec+'.png'
            let img_bacaan_ustazah = document.getElementById('img_bacaan_ustazah')
            img_bacaan_ustazah.src = get_http+"//"+get_url+"/"+ json.path +'spec1'+json.hour_min_sec+'.png'
            // img id="img_bacaan_anda" src= json.path +'spec'+json.hour_min_sec+'.png'
            let img_bacaan_anda = document.getElementById('img_bacaan_anda')
            img_bacaan_anda.src = get_http+"//"+get_url+"/"+ json.path +'spec'+json.hour_min_sec+'.png'
            // div id="error_teks" attr style="display: none;"
            let error_teks = document.getElementById('error_teks')
            error_teks.setAttribute('style', 'display: none;')
            // nilainya = json.cosine_similarity to %
            let nilainya = json.cosine_similaritynya * 100
            // only 2 decimal places from nilainya
            nilainya = nilainya.toFixed(2)
            // p id="penilaian" innerHTML= Penilaian Kesamaan Bacaan Anda Dengan Ustazah adalah sebanyak '+nilainya+'%'
            let penilaian = document.getElementById('penilaian')
            penilaian.innerHTML = 'Penilaian Kesamaan Bacaan Anda Dengan Ustazah adalah sebanyak '+nilainya+'%'
          }else{
            // div id="image_sound" attr style="display: none;"
            let image_sound = document.getElementById('image_sound')
            image_sound.setAttribute('style', 'display: none;')
            // div id="error_teks" remove attr style
            let error_teks = document.getElementById('error_teks')
            let penilaian = document.getElementById('penilaian')
            penilaian.innerHTML = null
          }
          $.unblockUI();
          // console.log(json)
        }catch(err){
          // div id="image_sound" attr style="display: none;"
          let image_sound = document.getElementById('image_sound')
          image_sound.setAttribute('style', 'display: none;')
          // div id="error_teks" remove attr style
          let error_teks = document.getElementById('error_teks')
          let penilaian = document.getElementById('penilaian')
          penilaian.innerHTML = null
          console.log(err)
          $.unblockUI();
        }

        // console.log(link.href)
        //add the new audio element to li
        // li.appendChild(au);
        
        //add the filename to the li
        // li.appendChild(document.createTextNode(filename+".wav "))
      
        //add the save to disk link to li
        // li.appendChild(link);
        
        //upload link
        /* var upload = document.createElement('a');
        upload.href="#";
        upload.innerHTML = "Upload";
        upload.addEventListener("click", function(event){
            var xhr=new XMLHttpRequest();
            xhr.onload=function(e) {
                if(this.readyState === 4) {
                    console.log("Server returned: ",e.target.responseText);
                }
            };
            var fd=new FormData();
            fd.append("audio_data",blob, filename);
            xhr.open("POST","upload.php",true);
            xhr.send(fd);
        }) */
        // li.appendChild(document.createTextNode (" "))//add a space in between
        // li.appendChild(upload)//add the upload link to li 
      
        //add the li element to the ol
        // recordingsList.appendChild("");
        recordingsList.appendChild(au);
      }

      function setAttributes(el, attrs) {
          Object.keys(attrs).forEach(key => el.setAttribute(key, attrs[key]));
      }
     
    </script>
{% endblock %}